.Input_atom {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    p {
        text-align: left;
        padding: 0px 15px;
    }

    input {
        text-align: center;
        font-size: 12px;
        padding: 8px;
        width: 80%;
        border-radius: 10px;
        margin: 0px 40px;
    }
}